body{
    font-family: "Helvetica", sans-serif;
}

header h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("D:/Tutorials/Codeacademy/project_1_dasmotoArtsCrafts/assets/img/pattern.webp");
}

main h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brush{
    background-color: mediumspringgreen;
}

#frame{
    background-color: lightcoral;
}

#paint{
    background-color: skyblue;
}

.price{
    font-weight: bold;
    color: blue;
}